body {
  background-color: rgb(53, 45, 57);
}

h1 {
  margin: auto;
  text-align: center;
  font-size: 52px;
  font-weight: bold;
  font-family: Bangers, sans-serif;
}

ul {
  margin: auto;
  padding: 20px;
  text-align: center;
  font-family: Bangers, sans-serif;
  font-size: 20px;  
}

p {
  margin: auto;
  text-align: center;
  font-family: Bangers, sans-serif;
  font-size: 24px;
}

button {
  background-color: rgb(75, 74, 103);  
  padding: 20px 20px;
  margin: auto;
  text-align: center;
  font-family: Bangers, sans-serif;
  font-size: 24px;
  border-radius: 8px;
  border: 3px solid black;
  width: 15%; 
}

button:hover {
  background-color: rgb(26, 20, 35);
  color: rgb(118, 123, 145);
  border: solid rgb(118, 123, 145);
}

button:active {
  background-color: rgb(75, 74, 103);
  color: black;
  border: solid black;
  transform: translateY(3px);
}

#container {
  display: grid;
  grid-template-columns: auto;
  gap: 15px;
  background-color: rgb(93, 83, 107);
  padding: 20px;
}

#score {  
  text-align: center;
  font-family: Bangers, sans-serif;
  font-size: 32px;
  margin: auto;
}

#gameCanvas {
  object-position: center;
  padding-left: 500px;  
}

@font-face {
  font-family: Bangers;
  src: url('font/Bangers-Regular.ttf')
       format('truetype');
}